/* Body styling */
body {
    background: #333333;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Containers styling */
.datetime {
    background: #333333 ;
    width: 400px;
    border-radius: 5px;
    margin: 200px auto;
    border: 2px solid aqua;
    padding: 10px 10px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255,255,255,0.3));
    
}

/* Hover properties */
.datetime:hover {
    background: aqua;
    box-shadow: 0 0 100px aqua;
    transition: 0.5s;
}

/* Time, AM/PM styling */
.date,
.time{
   color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 50px;
    font-weight: 600;

}

#period {
    font-size: 25px;
    background: aqua;
    color: azure;
    padding: 5px;
    border-radius: 5px;
}